.j-digitaal{
    width: 100vw;
    height: 80vh;
    margin: 0 auto;
    background: $textcolor;
   
    }
.j-title{
    height: 50px;
    line-height: 50px;
    text-align: left;
    position: absolute;
    margin:0 auto;
    padding: 2em;
    font-size: 50px;
    font-family: 'Archivo Black', sans-serif;
    
}
.j-title::before{
    content: "";
    background: -webkit-linear-gradient(bottom, $color4, $color3);
    width: 5px;
    height: 50px;
    position: absolute;
    left: 50px;
    margin: 0 auto;
}
.j-text{
    position: relative; 
    top:22vh;
    padding: 2em;
}
.j-img{
    width: 500px;
    height: 500px;
    }


