.green {
  color: #45fecd;
}

body {
  background: #263954;
  overflow-x: hidden;
}

/* navigation */
.burger {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.burger .line {
  width: 20px;
  height: 2px;
  margin: 5px;
}

.j-links {
  position: absolute;
  top: 0;
  left: 0;
  background: url(./image/navbg.png);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-box-shadow: 5px 0 10px #1b2436;
          box-shadow: 5px 0 10px #1b2436;
  width: 14vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
}

.j-links li {
  list-style: none;
  display: block;
  width: 14vw;
  margin: 1em auto 2em 0;
}

.j-a {
  color: #f8f9fa;
}

.j-navimg {
  width: 100px;
}

.j-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.j-none {
  display: none;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.j-opacity {
  background-color: rgba(27, 36, 54, 0.3);
}

.logoimg {
  width: auto;
  height: 40px;
}

.fullscreen-video-wrap {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap .bgvideo {
  width: 100%;
  min-height: 100%;
}

.homecontainer {
  width: 86vw;
  height: 100vh;
  position: relative;
  left: 14vw;
}

.homecontainer p {
  position: absolute;
  left: 2%;
  bottom: 35%;
  font-size: 2rem;
  letter-spacing: 5px;
}

.homecontainer a {
  position: absolute;
  left: 2%;
  bottom: 10%;
}

.homecontainer a img {
  width: 60px;
}

/* digitaal */
.j-digitaal {
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  background: #f8f9fa;
}

.j-title {
  height: 50px;
  line-height: 50px;
  text-align: left;
  position: absolute;
  margin: 0 auto;
  padding: 2em;
  font-size: 50px;
  font-family: 'Archivo Black', sans-serif;
}

.j-title::before {
  content: "";
  background: -webkit-linear-gradient(bottom, #4455a2, #45fecd);
  width: 5px;
  height: 50px;
  position: absolute;
  left: 50px;
  margin: 0 auto;
}

.j-text {
  position: relative;
  top: 22vh;
  padding: 2em;
}

.j-img {
  width: 500px;
  height: 500px;
}

/* logo animation */
h1 {
  position: absolute;
  left: 2%;
  bottom: 50%;
  font-size: 5rem;
  letter-spacing: 20px;
  overflow: hidden;
}

h1:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
}

h1 span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#1b2436), to(#45fecd));
  background: linear-gradient(to right, #1b2436, #45fecd);
  -webkit-animation: animate1 2s linear infinite;
          animation: animate1 2s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

h1 span:nth-child(2) {
  background: none;
}

h1 span:nth-child(3) {
  background: none;
}

h1 span:nth-child(4) {
  position: absolute;
  top: 96%;
  left: -4px;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(#1b2436), to(#45fecd));
  background: linear-gradient(to left, #1b2436, #45fecd);
  -webkit-animation: animate4 2s linear infinite;
          animation: animate4 2s linear infinite;
}

@-webkit-keyframes animate4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animate4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=main.css.map */