@import"sass/_color";
@import"sass/_mixins";
@import"sass/_font";

body{
    background: $color2;
    overflow-x: hidden;
}
.j-homearrow{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 10px;
    bottom: 10px;
}

/* navigation */
@import "sass/_nav.scss";
/* digitaal */
@import "sass/_digitaal.scss";
/* logo animation */
@import "sass/_logoanimation.scss";



/* media */
@import "sass/_media-sm.scss";
@import "sass/_media-md.scss";
@import "sass/_media-lg.scss";
